@import '../../scss/_variables.scss';

.navbar {
  background-color: $primary-color;
  height: 70px;
  width: 100%;

  &__logo {
    color: $white-color;
  }

  &__flex {
    justify-content: space-between;
  }

  &__list {
    display: flex;
    width: 100%;
  }

  &__nav {
    color: $white-color;
    padding: 10px;
    margin: 0 5px;
  }

  &__nav:hover {
    border-bottom: 2px $white-color solid;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 150px;
    &__flex {
      flex-direction: column;
    }

    &__list {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
